$base-font-color: #6d6d6d
$deep-font-color: #757575
$grey-font-color: #999
$light-font-color: #d0d0d0

$theme-color: #cda55f

$vast-font-size: 24px
$biggest-font-size: 22px
$bigger-font-size: 20px
$big-font-size: 18px
$normal-font-size: 16px
$small-font-size: 14px
$smaller-font-size: 12px
$smallest-font-size: 10px

$background-color: #f9f9f9

$card-margin-top: 15rpx

.container
  display: flex
  flex-direction: column
  color: $base-font-color
  font-family: "Microsoft YaHei UI", serif
