$base-font-color: #6d6d6d
$grey-font-color: #999

$background-color: #f9f9f9

.container
  display: flex
  flex-direction: column
  width: 100%
  color: $base-font-color
  font-family: "Microsoft YaHei UI", serif
